openapi: 3.0.3
info:
  title: STAC API - Fields Extension
  version: 1.0.0-rc.3
  description: Adds parameter to control which fields are returned in the response.
  contact:
    name: STAC Specification
    url: 'http://stacspec.org'
  license:
    name: Apache License 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0'
  x-conformance-classes:
    - 'https://api.stacspec.org/v1.0.0-rc.3/item-search#fields'
    - 'https://api.stacspec.org/v1.0.0-rc.3/ogcapi-features#fields'
paths: {}
components:
  parameters:
    fields:
      name: fields
      x-stac-api-fragment: fields
      in: query
      description: |-
        **Extension:** Fields

        Determines the shape of the features in the response
      required: false
      schema:
        type: string
        example: 'id,type,-geometry,bbox,properties,-links,-assets'
      style: form
      explode: false
  schemas:
    searchBody:
      type: object
      x-stac-api-fragment: fields
      description: |-
        **Extension:** Fields

        Determines the shape of the features in the response
      properties:
        fields:
          $ref: '#/components/schemas/fields'
    fields:
      description: |
        The include and exclude members specify an array of
        property names that are either included or excluded
        from the result, respectively. If both include and
        exclude are specified, include takes precedence.
        Values should include the full JSON path of the property.
      type: object
      properties:
        include:
          type: array
          items:
            type: string
        exclude:
          type: array
          items:
            type: string
      example:
        include:
          - id
          - 'properties.eo:cloud_cover'
        exclude:
          - geometry
          - properties.datetime
